*.log
*.pot
*.pyc
local_settings.py
.*
wikipendium/bin/
wikipendium/lib/
wikipendium/include/
wikipendium/settings/local.py
wikipendium/settings/whoosh_index/
*.db
.gitignore
.*.sw*
venv/*
static/*
*.iml
