[project]
	description = kompendie-wiki
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stian Jensen (stianjensen)
[access "refs/for/refs/*"]
	read = group user/Stian Jensen (stianjensen)
	push = group user/Stian Jensen (stianjensen)
	label-Code-Review = -2..+2 group user/Stian Jensen (stianjensen)
	label-Verified = -1..+1 group user/Stian Jensen (stianjensen)
	rebase = group user/Stian Jensen (stianjensen)
	removeReviewer = group user/Stian Jensen (stianjensen)
	submit = group user/Stian Jensen (stianjensen)
[access "refs/heads/*"]
	read = group user/Stian Jensen (stianjensen)
	create = group user/Stian Jensen (stianjensen)
	push = +force group user/Stian Jensen (stianjensen)
	pushMerge = group user/Stian Jensen (stianjensen)
[access "refs/tags/*"]
	push = +force group user/Stian Jensen (stianjensen)
	pushTag = group user/Stian Jensen (stianjensen)
	pushSignedTag = group user/Stian Jensen (stianjensen)
