django==1.8.4
django-registration-redux==1.2
git+git://github.com/wikipendium/Python-Markdown.git@5e9e809#egg=markdown
git+git://github.com/wikipendium/python-markdown-mathjax.git#egg=markdown_mathjax
git+git://github.com/stianjensen/mdx_outline.git
fabric==1.10.2
pytz==2015.4
boto==2.38.0
newrelic==2.54.0.41
django-mailgun==0.2.2
django-compressor==1.5
django-taggit==0.17.0
git+git://github.com/stianjensen/django-dumpdb.git
flake8==2.3.0
