django==1.11.29
django-registration-redux==1.3
git+git://github.com/wikipendium/Python-Markdown.git@5e9e809#egg=markdown
git+git://github.com/wikipendium/python-markdown-mathjax.git#egg=markdown_mathjax
git+git://github.com/wikipendium/mdx_outline.git
fabric==1.10.2
pytz==2015.4
boto==2.38.0
newrelic==2.54.0.41
git+git://github.com/BradWhittington/django-mailgun/@d5f66d050c596fa95f474a0ed0ef15b9ed704b14#egg=django-mailgun
django-mailgun
django-compressor==2.1
django-taggit==0.22.2
git+git://github.com/wikipendium/django-dumpdb.git@3cea152934c4beda9e4b5e623c442e87bf51d143#egg=django-dumpdb
flake8==2.4.1
flake8-quotes==0.0.1
libsass==0.8.3
django-haystack==2.7.0
Whoosh==2.7.0
django-appconf==1.0.2
