DEBUG = True
TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = ['localhost']

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'database.db',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = '3fbnn%u5_j1)p%k^4y%=v!qi2m!=z#kz8m_vn#^*+j5u!4hmvv'

GOOGLE_ANALYTICS_KEY = ''
GOOGLE_ANALYTICS_NAME = ''

# For the backup-to-s3 management command
"""
AWS_ID = ''
AWS_KEY = ''
AWS_BACKUP_BUCKET_NAME = ''
"""

# For newrelic integration
"""
import newrelic.agent
newrelic.agent.initialize('/home/wikipendium-web/wikipendium.no/wikipendium/settings/newrelic.ini')
"""

# Disable cache in development
"""
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    },
}
"""

# Disable secure cookies in development environments
SESSION_COOKIE_SECURE = False
