{% extends "base.html" %}

{% block title %}{{ user }} -{% endblock %}

{% block content %}
<div id=article class=serif>
    <div class=clearfix>
        {% if user == request.user %}
        <a href="https://gravatar.com/emails" target="_blank" class="profile-photo sans-serif" style=float:left;display:inline-block;>
            <img src="{{ gravatar }}" alt width=150 height=150>
            <span>Edit your<br>profile picture<br>at <span class="gravatar-link">gravatar.com</span></span>
        </a>
        {% else %}
        <div class=profile-photo>
            <img src="{{ gravatar }}" alt width=150 height=150>
        </div>
        {% endif %}
        <h2 class=title>{{ user }}</h2>
        {% if user == request.user %}
            <a href=/accounts/username/change>Change your username</a>

            <p>
              <strong>Email:</strong>
              {{ user.email }} <a href=/accounts/email/change>Change</a>
            </p>
        {% endif %}
   </div>
   <h3 class=contributions-title>Contributions:</h3>
    <ul class=article-history-list>
        {% for _, acs in contributions %}
            <li class="clearfix click-to-expand">
            <span class=dropdown-marker>▼</span>
            <a href={{ acs.0.get_last_descendant.get_absolute_url }}>
            {{ acs.0.get_last_descendant.get_full_title }}</a>
            </li>

            <ul class="article-history-list hide">
            {% for ac in acs %}
            <li class="clearfix">
            <a href="{{ ac.get_history_single_url }}">Changeset #{{ ac.pk }}</a>
                <span class="date">{{ ac.updated }}</span>
            </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
<script>
    $(function(){
        $('.click-to-expand a').click(function(e){
            e.stopPropagation();
        });

        $('.click-to-expand').click(function(){
            console.log($(this).next());
            $(this).next().toggle();
        });
    });
</script>
{% endblock %}
