{% extends "base.html" %}

{% block body_class %}frontpage{% endblock %}
{% block logo %}{% endblock %}

{% block css %}
<link rel=stylesheet href={{ STATIC_URL }}css/allsearch.css>
{% endblock %}

{% block nav %}
<a class=button href=/new/>Create article</a>
{% endblock %}

{% block content %}

<script src={{ STATIC_URL }}js/allsearchfilter.js></script>

<input id=searchbox type=text placeholder="find a compendium...">

<div class=all-articles>
    <h1 class=title>All compendiums</h1>
    <ul id=all-list><ul>
</div>

<script>
    var trie = {{ trie|safe }};
    $('#searchbox').allsearchfilter(trie);
</script>
{% endblock %}
