/****************
 * BODEY BODY
****************/

body.fixed-header .header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 9000;
  .container {
    max-width: none;
  }
}

@media all and (max-width: 600px) {
  .header-logo-link .ikipendium {
    display: none;
  }
}

@media all and (min-width: 600px) {
  body.frontpage {
    .header-logo-link {
      display: none;
    }
    &:before {
      content: "W";
      position: absolute;
      z-index: -1;
      line-height: 90%;
      overflow: hidden;
      font-size: 500px;
      top: 0;
      left: 30%;
      margin-left: -250px;
      color: rgba(0, 0, 0, 0.1);
    }
  }
}

/******************
 * HEADER
******************/

#header {
  h1 {
    font-weight: normal;
    font-size: 2.2em;
    a {
      color: #aaa;
    }
  }
  nav {
    text-align: right;
  }
}

/******************
 * FOOTER
******************/

#page-footer {
  .bottom-menu {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    li {
      margin-left: .8em;
      padding-left: .8em;
      border-left: 1px solid #ccc;
      margin-bottom: 10px;
      &:first-child {
        border-left: none;
      }
    }
  }
  .donation-appeal {
    text-align: center;
    margin: 20px;
    form {
      padding: 20px 0 0;
    }
    label, input[type=image] {
      margin: 20px;
    }
  }
  .bottom-menu .break {
    display: none;
    width: 100%;
    height: 0;
    margin: 0;
  }
}

@media screen and (max-width: 545px) {
  #page-footer .bottom-menu {
    li.break + li {
      border-left: none;
    }
    .break {
      display: block;
    }
  }
}

.serif {
  font-family: Palatino, "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

body {
  &.frontpage:before {
    font-family: Palatino, "Palatino LT STD", "Book Antiqua", Georgia, serif;
  }
  &.fixed-header #content {
    padding-top: 50px;
  }
}
