/****************
 * BODEY BODY
****************/

body.fixed-header .header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 9px 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 9000;
  .container {
    max-width: none;
  }
}

@media all and (max-width: 650px) {
  .header-logo-link .ikipendium {
    display: none;
  }
}

@media all and (min-width: 600px) {
  body.frontpage {
    .header-logo-link {
      display: none;
    }
    &:before {
      content: "W";
      position: absolute;
      z-index: -1;
      line-height: 90%;
      overflow: hidden;
      font-size: 500px;
      top: 0;
      left: 30%;
      margin-left: -250px;
      color: rgba(0, 0, 0, 0.1);
    }
  }
}

/******************
 * HEADER
******************/

#header {
  h1 {
    font-weight: normal;
    font-size: 2.2em;
    a {
      color: #aaa;
    }
  }
  nav {
    text-align: right;
  }
}

/******************
 * FOOTER
******************/

#page-footer {
  .bottom-menu {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    li {
      margin-left: .8em;
      padding-left: .8em;
      border-left: 1px solid #ccc;
      margin-bottom: 10px;
      &:first-child {
        border-left: none;
      }
    }
  }
  .donation-appeal {
    text-align: center;
    margin: 20px;
    form {
      padding: 20px 0 0;
    }
    label, input[type=image] {
      margin: 20px;
    }
  }
  .bottom-menu .break {
    display: none;
    width: 100%;
    height: 0;
    margin: 0;
  }
}

@media screen and (max-width: 545px) {
  #page-footer .bottom-menu {
    li.break + li {
      border-left: none;
    }
    .break {
      display: block;
    }
  }
}

.serif {
  font-family: Palatino, "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

body {
  &.frontpage:before {
    font-family: Palatino, "Palatino LT STD", "Book Antiqua", Georgia, serif;
  }
  &.fixed-header #content {
    padding-top: 50px;
  }
}

/******************
 * ARTICLE
******************/

.article-nav {
  display: inline-block;
}

@media all and (max-width: 650px) {
  body.fixed-header #content {
    padding-top: 75px;
  }
}

#article {
  width: auto;
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.2857142857em;
  line-height: 1.55em;
  section {
    padding-top: 70px;
    margin-top: -50px;
  }
}

body.article {
  .contributors, .last-updated {
    position: relative;
    max-width: 640px;
    margin: 20px auto 10px;
  }
}

.contributors a:not(:last-child)::after {
  content: ",";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0 0 8px;
}

h1 {
  margin-bottom: 20px;
}

#article .title {
  margin: 0 0 20px;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  font-size: 2.2em;
}

.toc {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  width: 270px;
  padding: 2em 10px;
  font-size: .9em;
  line-height: 1.4;
  background: #fbfcff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  border-right: 1px solid #ddd;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  a {
    padding: 1px 4px;
    display: block;
    &.hilight {
      background: #60AECA;
      color: white;
      border-radius: 4px;
    }
  }
}

body.toc-hidden .toc {
  -webkit-transform: translateX(-270px);
  transform: translateX(-270px);
}

#toggle-toc {
  position: fixed;
  top: 70px;
  left: 290px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  font-family: arial, sans-serif;
  line-height: 30px;
  font-size: 28px;
  z-index: 9000;
  color: white;
  padding-right: 1px;
  background: #60AECA;
  border: 1px solid #67A1B5;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: transform .3s;
}

body.toc-hidden #toggle-toc {
  -webkit-transform: translateX(-270px) rotate(-180deg);
  -moz-transform: translateX(-270px) rotate(-180deg);
  transform: translateX(-270px) rotate(-180deg);
}

.toctitle {
  font-weight: bold;
  font-variant: small-caps;
  padding: 34px;
}

@media screen and (min-width: 768px) {
  body {
    &.fixed-header .header-wrapper .container {
      padding-left: 50px;
    }
    &.article:not(.toc-hidden) {
      padding-left: 315px;
    }
  }
}

@media screen and (min-width: 1330px) {
  body.article:not(.toc-hidden) {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .toc, #toggle-toc {
    display: none;
  }
  #article {
    font-size: 1.1em;
  }
  .section1 {
    h1 {
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      position: relative;
      padding-left: 35px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      &::before {
        position: absolute;
        left: 0px;
        top: 10px;
        font-size: 0.7em;
        content: "\00fe40";
        display: inline-block;
        vertical-align: middle;
      }
    }
    &:not(.open) :not(h1) {
      display: none;
    }
    &.open h1::before {
      content: "\00fe3f";
      top: -3px;
    }
  }
  #article section.section2 {
    padding-top: 55px;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
}

.toc {
  > ol > li {
    margin-top: 10px;
    > {
      ol {
        padding-left: 0;
      }
      a {
        font-weight: bold;
      }
    }
  }
  h3 {
    margin: .5em 0;
  }
  li ol {
    padding-left: 10px;
  }
  > ol {
    list-style-type: decimal;
    margin: 0;
  }
  ol ol {
    list-style-type: upper-roman;
    ol {
      list-style-type: lower-roman;
      ol {
        list-style-type: lower-latin;
        ol {
          list-style-type: lower-greek;
        }
      }
    }
  }
}

code {
  background: #fafafa;
  border: 1px solid #eaeaea;
  display: inline;
  padding: 5px;
}

pre code {
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  display: block;
  border-radius: 5px;
  box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  overflow: auto;
}

.edit-section-button {
  position: absolute;
  font-family: sans-serif;
  margin-left: -60px;
  margin-right: 0;
  opacity: 0;
  letter-spacing: 0;
}

.tags {
  font-size: 10px;
  overflow: hidden;
  form {
    display: none;
  }
}

.tags-label {
  float: left;
  padding-right: 10px;
}

.tags {
  ul {
    padding: 0;
  }
  li {
    float: left;
    list-style-type: none;
    padding: 0 10px 0 0;
  }
}

#article {
  .margin-note {
    position: relative;
    float: right;
    border-left: 3px solid #089;
    background: #fafafa;
    width: 350px;
    margin-right: -365px;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
  }
  .no-article {
    text-align: center;
    font-style: italic;
  }
}

@media all and (max-width: 1399px) {
  #article .margin-note {
    width: 250px;
    margin-right: -265px;
  }
}

@media all and (max-width: 1329px) {
  #article .margin-note {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

/******************
 * NO ARTICLE
******************/

.no-article h2 a {
  color: #069;
}

ul.no-list {
  list-style-type: none;
  padding: 0;
}

/******************
 * CODEMIRROR
******************/

body.editor .CodeMirror {
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 65px;
  bottom: 75px;
  left: 20px;
  right: 20px;
  height: auto;
}

.CodeMirror-wrap.CodeMirror pre {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

form {
  .fields {
    &.slug-field {
      width: 11%;
      float: left;
      margin-right: .5%;
    }
    &.lang-field {
      width: 11%;
      float: left;
      margin-right: .5%;
      .chzn-single {
        height: 30px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-radius: 2px;
      }
    }
    &.title-field {
      width: 77%;
      float: left;
      input {
        font-size: 1.4em;
        font-weight: bold;
      }
    }
    &.error {
      margin-bottom: 25px;
    }
  }
  .field-group.content-field {
    clear: both;
  }
}

/******************
 * LOGIN
******************/

.login-form, .register-form, .reset-password-form, .confirm-password-form, .change-password-form {
  width: 320px;
  margin: 0 auto;
}

/******************
 * SEARCHBOX
******************/

#suggestions .active {
  background: rgba(109, 132, 184, 0.8);
  color: white;
}

#searchbox {
  width: 100%;
  border: 0;
  outline: none;
  margin: 30px auto 0;
  display: block;
  padding: 4px 5px 4px 5px;
  border: 1px solid #BDC7D8;
  font-family: Georgia, serif;
  font-size: 30px;
  height: 60px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.green-bg {
  background: rgba(0, 204, 255, 0.5);
}

/********************
 * ALL ARTICLES
********************/

.all-articles-wrapper {
  margin-top: 40px;
}

.article-all-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  li {
    border: 1px solid #ccc;
    margin-bottom: .7em;
    width: 100%;
    color: #069;
    background-color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    a {
      padding: .9em;
      display: block;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &.active a {
      color: white;
    }
  }
  .no-found {
    color: #444;
    padding: .9em;
  }
  .date {
    clear: both;
    margin: 0;
    color: #444;
  }
  .active .date {
    color: white;
  }
  .highlight {
    background: rgba(109, 132, 184, 0.2);
  }
  .active .highlight {
    background: #069;
  }
}

@media all and (max-width: 600px) {
  .all-articles-wrapper {
    margin-top: 20px;
  }
  .article-all-list {
    .date {
      display: none;
    }
    li a {
      padding: .4em;
    }
  }
}

/********************
 * HISTORY
********************/

del {
  background: pink;
  display: inline-block;
}

ins {
  background: lightgreen;
  display: inline-block;
  text-decoration: none;
}

.equal {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.equal-abridged-content {
  display: none;
}

.equal-abridged-placeholder {
  text-align: center;
  cursor: pointer;
  margin: 15px;
  color: #999;
  .icon-wrapper {
    height: 31px;
    background: linear-gradient(to right, white, #999, white);
    border: 15px solid white;
    border-left: 100px solid white;
    border-right: 100px solid white;
  }
  .octicon {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: -14px;
    padding: 5px;
    background: white;
  }
  &:hover {
    color: #222;
  }
}

.article-history-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  li {
    padding: .5em;
    border: 1px solid #ccc;
    margin-bottom: .5em;
  }
  .date, .user {
    border-left: 1px solid #ccc;
    padding-left: .5em;
    margin-left: .5em;
    float: left;
  }
  a {
    padding-left: .5em;
    float: left;
  }
  .click-to-expand {
    cursor: pointer;
  }
  .dropdown-marker {
    float: right;
  }
}

.contributions-title {
  margin: 50px 0 25px;
}

.info {
  background: rgba(255, 165, 0, 0.5);
  border: 1px solid rgb(255, 165, 0);
  padding: 20px;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

.article-source {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

/********************
 * USER
********************/

.profile-photo {
  position: relative;
  float: left;
  margin: 0 .5em .5em 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid white;
  -webkit-box-shadow: 1px 1px 5px #444;
  -moz-box-shadow: 1px 1px 5px #444;
  -ms-box-shadow: 1px 1px 5px #444;
  -o-box-shadow: 1px 1px 5px #444;
  box-shadow: 1px 1px 5px #444;
  overflow: hidden;
  > span {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
    padding: 50px 20px;
    text-align: center;
    display: none;
    color: #444;
    line-height: 1.2;
  }
}

a.profile-photo {
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.gravatar-link {
  color: #069;
}

.profile-photo:hover > span {
  display: block;
}

a.profile-photo:hover img {
  opacity: 0.5;
}

/**
 *
 */

input[readonly=True] {
  background: lightgrey;
}

/**********************
 * HEADER
*********************/

#header h1 {
  margin: 0;
  padding: 0;
}

/********************
 * LOGIN
*******************/

.login-header {
  h1, a {
    display: inline-block;
  }
  h1 {
    vertical-align: middle;
  }
  a {
    vertical-align: text-top;
    margin: 0 3em;
  }
}

.tex2jax_ignore {
  font-family: "Consolas", "Courier", monospace;
}

/*******************
 * EDITOR
*******************/

body.editor #content {
  position: absolute;
  top: 50px;
  left: 270px;
  right: 0;
  bottom: 0;
  padding: 20px;
}

/********************
 * HELP-CONTAINER
********************/

.tab-container .tab {
  display: none;
  &.active {
    display: block;
  }
}

#help-container {
  display: none;
  position: fixed;
  top: 15%;
  bottom: 7%;
  left: 5%;
  right: 5%;
  border: 1px solid #ddd;
  background: white;
  z-index: 8000;
  border-radius: 5px;
  h3 {
    margin: .5em 0;
  }
  h2 {
    float: left;
    font-weight: normal;
    line-height: 50px;
    padding: 0 10px;
    margin: 0;
  }
}

#help-tabs {
  height: 50px;
  padding-top: 10px;
  padding-left: 0;
}

#help-tabs-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  .tab {
    height: 100%;
  }
}

#tab-close-button {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 8100;
  color: white;
  background: #ccc;
  border-radius: 50%;
  &:hover {
    text-decoration: none;
    background: #ddd;
  }
}

#help-tabs-container .tab {
  overflow-y: auto;
  padding: 5px 20px;
}

#overlay {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7000;
  background: rgba(0, 0, 0, 0.5);
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70px;
  line-height: 40px;
  padding: 15px 20px;
}

@media screen and (max-width: 767px) {
  body.editor {
    #content {
      left: 0;
    }
    .toc, #help-tabs {
      display: none;
    }
    #help-tabs-container {
      top: 0;
      overflow-y: auto;
      .tab {
        display: block;
        overflow-y: visible;
        padding-right: 40px;
        height: auto;
      }
    }
  }
}

/*******************
 * PRINTING
*******************/
@media print {
  body {
    font-size: 10px;
    &.fixed-header .header-wrapper {
      position: relative;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
  .header-logo-link .ikipendium {
    display: inline;
  }
  body.fixed-header {
    .header-wrapper nav {
      display: none;
    }
    #content {
      padding-top: 0;
    }
  }
  #page-footer .bottom-menu, .donation-appeal, .toc, #toggle-toc {
    display: none;
  }
}

/*******************
 * STATISTICS
*******************/

.statistics .row {
  margin-top: 30px;
}

.statistics-box {
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  h2 {
    margin: 0 auto;
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    font-weight: normal;
    border-bottom: 1px solid #999;
  }
}

.statistic {
  font-size: 40px;
  margin: 30px auto;
  text-align: center;
  small {
    margin: 30px;
    display: block;
    font-size: 14px;
    color: #999;
  }
}

.word-count {
    float: right;
}
