{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="login-header">
    <h1>Log in</h1>
    <a class="button button-small" href="/accounts/register/">Sign up</a>
</div>

<form class=login-form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}

    <div class="field-group {%if form.username.errors %}error{% endif %}">
        <label class=field-label>Username:</label>
        <div class=fields>
            {{ form.username }}

            {% if form.username.errors %}
            <div class=error-message>
                {{form.username.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="field-group {%if form.password.errors %}error{%endif%}">
        <label class=field-label>Password:</label>
        <div class=fields>
            {{ form.password }}

            {% if form.password.errors %}
            <div class=error-message>
                {{form.password.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

<input class="button float-right" type="submit" value="Log in" />
</form>

{% endblock %}

