{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<div class="login-header">
    <h1>Log in</h1>
</div>

<form class="login-form {% if form.errors %}form-error{% endif %}" method="post" action="?next={{ next|default:"/" }}">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class=error-banner>{{ form.non_field_errors|join:", " }}</div>
    {% endif %}

    <div class="field-group {%if form.username.errors %}error{% endif %}">
        <label class=field-label>Username:</label>
        <div class=fields>
            {{ form.username }}

            {% if form.username.errors %}
            <div class=error-message>
                {{form.username.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="field-group {%if form.password.errors %}error{%endif%}">
        <label class=field-label>Password:</label>
        <div class=fields>
            {{ form.password }}

            {% if form.password.errors %}
            <div class=error-message>
                {{form.password.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

    <span class="float-left">
        <p>
            <a href="/accounts/password/reset/">Forgot password?</a>
        </p>
        <p>Not registered?
            <a href="/accounts/register/">Sign up</a>
        </p>
    </span>

    <input class="button float-right" type="submit" value="Log in" />
</form>

{% endblock %}

