{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post" class="confirm-password-form">
{% csrf_token %}

    <div class="field-group">
        <label for="id_newpassword1">{% trans 'New password:' %}</label>
        <div class="field">
            {{ form.new_password1 }}

            {% if form.new_password1.errors %}
                <div class=error-message>
                    {{ form.new_password1.errors|join:", "}}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="field-group">
        <label for="id_newpassword2">{% trans 'New password:' %}</label>
        <div class="field">
            {{ form.new_password2 }}

            {% if form.new_password2.errors %}
                <div class=error-message>
                    {{ form.new_password2.errors|join:", "}}
                </div>
            {% endif %}
        </div>
    </div>

<p><input type="submit" value="{% trans 'Change my password' %}" class="button float-right" /></p>

</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
