{% extends "base.html" %}

{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}

<h1>{% trans 'Password change' %}</h1>

<form action="" method="post" class="change-password-form">
{% csrf_token %}

    <div class="field-group {%if form.old_password.errors %}error{% endif %}">
        <label for="id_old_password">{% trans 'Old password:' %}</label>
        <div class="field">
            {{ form.old_password }}

            {% if form.old_password.errors %}
            <div class=error-message>
                {{form.old_password.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="field-group {%if form.new_password1.errors %}error{% endif %}">
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        <div class="field">
            {{ form.new_password1 }}
            
            {% if form.new_password1.errors %}
            <div class=error-message>
                {{form.new_password1.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>


    <div class="field-group {%if form.new_password2.errors %}error{% endif %}">
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        <div class="field">
            {{ form.new_password2 }}
            
            {% if form.new_password2.errors %}
            <div class=error-message>
                {{form.new_password2.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

<p><input type="submit" class="button float-right" value="{% trans 'Change my password' %}" /></p>
</form>

{% endblock %}

