{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

  <h1>Create an account</h1>
  
  <form class=register-form method="post" action="" class="wide">
	{% csrf_token %}

    <div class="field-group {%if form.username.errors %}error{% endif %}">
        <label class=field-label>Username:</label>
        <div class=fields>
            {{ form.username }}

            {% if form.username.errors %}
            <div class=error-message>
                {{form.username.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="field-group {%if form.email.errors %}error{%endif%}">
        <label class=field-label>Email:</label>
        <div class=fields>
            {{ form.email }}

            {% if form.email.errors %}
            <div class=error-message>
                {{form.email.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="field-group {%if form.password1.errors %}error{%endif%}">
        <label class=field-label>Password:</label>
        <div class=fields>
            {{ form.password1 }}

            {% if form.password1.errors %}
            <div class=error-message>
                {{form.password1.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="field-group {%if form.password2.errors %}error{%endif%}">
        <label class=field-label>Password again:</label>
        <div class=fields>
            {{ form.password2 }}

            {% if form.password2.errors %}
            <div class=error-message>
                {{form.password2.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>

<input class="button float-right" type="submit" value="Register &rarr;" />
  </form>

  
{% endblock %}
