{% extends "base.html" %}

{% block title %}All compendiums -{% endblock %}

{% block body_class %}article{% endblock %}

{% block nav %}
<a class=button href=/new/>Create Article</a>
{% endblock %}

{% block content %}
<div id=article class=serif>
    <h2>All compendiums:</h2>
    <blockquote><p><strong><em>Use CTRL+F to find your compendium.</em></strong></p></blockquote>
    <ul class=article-all-list>
        {% for ac in complete_list %}
        <li class=clearfix>
            <a href="{{ac.get_absolute_url}}">{{ ac.get_full_title }}</a>
            <p class=date>Last updated: {{ ac.updated }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
