{% extends "base.html" %}
{% load extras %}

{% block title %}{{ articleContent.get_full_title }} -{% endblock %}

{% block meta %}
<meta property=og:title content="{{ articleContent.get_full_title }}" />
<meta property=og:type content=article />
<meta property=og:image content=https://www.wikipendium.no/static/apple-touch/icon-114x114.png />
<meta property=og:url content="https://www.wikipendium.no{{ articleContent.get_absolute_url }}" />
<meta property=og:description content="Wikipendium for {{ articleContent.get_full_title }}." />
{% for tag in articleContent.article.tags.all %}
    <meta property=og:article:tag content="{{ tag }}" />
{% endfor %}
{% for user in contributors %}
    <meta property=og:article:author content="{{ user.get_full_name|default:user.username }}" />
{% endfor %}
{% endblock %}


{% block body_class %}article fixed-header{% endblock %}

{% block nav %}
<div class=article-nav>
    <div class=hide-on-mobile>
        <a class=button href=/new/>Create article</a>
        {% language_chooser language_list articleContent %}
        <div class=button-group style=inline-block>
            <a class="button hidden-sm edit-link" href={{ articleContent.get_edit_url }}>Edit</a>
            <a class="button history-link" href={{ articleContent.get_history_url }}>History</a>
        </div>
    </div>

    <div class=show-on-mobile>
        <div class="has-dropdown button-dropdown">
            <a href=# class=button data-toggle=dropdown>
                Tools
                <span class=caret></span>
            </a>
            <ul class="dropdown right">
                <li><a class=edit-link href={{ articleContent.get_edit_url }}>Edit</a></li>
                <li><a class=history-link href={{ articleContent.get_history_url }}>History</a></li>
                <hr>
                {% for language, language_article_content_url in language_list %}
                    <li><a href={{ language_article_content_url }}>Read in {{ language }}</a></li>
                {% endfor %}
                <li><a href={{ articleContent.get_add_language_url }}>Add language</a></li>
                <hr>
                <li><a href=/new/>Create new article</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape off %}
    {{ toc }}
{% endautoescape %}
<a href="javascript:;" id="toggle-toc">‹</a>
<div id=article class=serif>
    <h1 class=title>{{ articleContent.get_full_title }}</h1>

    <div class=tags>
        <div class=tags-label>
            Tags:
        </div>
        <ul>
            {% for tag in articleContent.article.tags.all %}
                <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        <form><input /></form>
        <a href class=tag-adder data-article-slug={{ articleContent.article.slug }}>+</a>
    </div>

{% autoescape off %}
    {{ content }}
{% endautoescape %}
</div>

<div class=contributors>
    <h2>Written by</h2>
    {% for user in contributors %}
        <div>
            <a href=/users/{{user.username}}>
                {{ user.get_full_name|default:user.username }}
            </a>
        </div>
    {% endfor %}
</div>

<div class=last-updated>
    <em>Last updated:</em>
    <time datetime="{{ articleContent.updated|date:"c" }}">
        {{ articleContent.updated|date:"r" }}
    </time>.
</div>
{% endblock %}
