<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} Wikipendium</title>
    <script src=//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js></script>
    {% if mathjax %}
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <link rel=stylesheet href={{STATIC_URL}}css/master.css />
    <link rel=stylesheet href={{STATIC_URL}}codemirror/codemirror.css />
    <link rel=stylesheet href={{STATIC_URL}}codemirror/xq-light.css />
    <script src={{STATIC_URL}}js/bootstrap.min.js></script>
    <script src={{STATIC_URL}}codemirror/codemirror.min.js></script>
    <link href="{{STATIC_URL}}google-code-prettify/prettify.css"  rel="stylesheet" />
    <script src="{{STATIC_URL}}google-code-prettify/prettify.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}apple-touch/icon-57x57.png" />
    <link rel="apple-touch-icon" href="{{STATIC_URL}}apple-touch/icon-72x72.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="{{STATIC_URL}}apple-touch/icon-114x114.png" sizes="114x114" />
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.png" />

    {% if mathjax %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\\[','\\]']]
  }
});
</script>
{% endif %}

    <script>
        
        $(function(){

            var editor_has_been_updated = false;

            //prettyPrint();

            CodeMirror.defineMode("markdown-latex", function(config) {
                return CodeMirror.multiplexingMode(
                    CodeMirror.getMode(config, "markdown"),
                    {open: "$$", close: "$$",
                    mode: CodeMirror.getMode(config, "text/plain"),
                    delimStyle: "delimit"},
                    {open: "$", close: "$",
                    mode: CodeMirror.getMode(config, "text/plain"),
                    delimStyle: "delimit"}
                );
            });

            var textarea = document.getElementById("id_content");
            var codeMirror = CodeMirror.fromTextArea(textarea, {
                mode: "markdown-latex",
                theme: "xq-light"
            }).on("change", function(){
                editor_has_been_updated = true;
            });

            $('form').submit(function(){
                // Allow form to submit without being bugged about unsaved changes
                editor_has_been_updated = false;
            });
            function create_article() {
                var redirect_url = $('#create-article-slug').val() + "/edit/";
                window.location.href = redirect_url;
                return false;
            }
            $('#create-button').click( create_article );
            $('#create-article-slug').on('keypress', function(e) {
                if(e.keyCode==13){
                    create_article();
                }
            });

            window.addEventListener('beforeunload', function(){
                if (editor_has_been_updated) {
                    return "You have unsaved changes!";
                }
            });
        });

        // Stay in web-app on iOS
        (function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone");
    </script>
</head>

<body class="responsive {% block body_class %}{% endblock %}">
    <div id="footer-pusher">
        <div class="header-wrapper">
            <div class=container>
                <header id="header" class=row>
                    <h1 class="float-left serif"><a class=header-logo-link href=/>
                        {% block logo %}Wikipendium{% endblock %}
                    </a></h1>
                    <nav class="float-right">
                    {% block nav %}
                    {% endblock %}
                    {% if user.is_authenticated %}
        
    <div class="has-dropdown button-dropdown">
        <a href=# class=button data-toggle=dropdown><i class="icon icon-prepend green-bg"></i>{{request.user.username}}<span class=caret></span></a>
        <ul class="dropdown right">
            <li><a href=/users/{{request.user.username}}/>Profile</a></li>
            <li><a href=/accounts/password/change/>Change password</a></li>
            <li><a href=/accounts/logout/>Log out</a></li>
        </ul>
    </div>
                    {% else %}
                    <a class=button href="/accounts/login/?next={{request.path}}"><i class="icon icon-prepend"></i>Not logged in</a>
                    {% endif %}
                    </nav>
                </header>
            </div>
        </div>
        <div class="container">

            <div id=content>
            {% block content %}
            {% endblock %}
            </div>

        </div>
        <div id="push"></div>
    </div>
    <footer id="page-footer">
            <div class="container" style=font-variant:small-caps>
                <a href=/>Wikipendium</a> <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">cc-by-sa</a>
        </div>
    </footer>



{% if GOOGLE_ANALYTICS_KEY %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{GOOGLE_ANALYTICS_KEY}}', '{{GOOGLE_ANALYTICS_NAME}}');
  ga('send', 'pageview');
</script>
{% endif %}

</body>

</html>
