<!DOCTYPE html>
<html class="no-js">

<head>
    <title>Wikipendium</title>
    <script src=//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js></script>
    <link rel=stylesheet href={{STATIC_URL}}css/master.css />
    <script src={{STATIC_URL}}epiceditor/js/epiceditor.js></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <script>
        $(function(){
            $('textarea').each(function(){
                var container = $('<div class=epiceditor-container></div>');
                $this = $(this);
                container.insertBefore($this);
                container.append($this);
                container.attr('id','epiceditor_'+(Math.random()*99*99*99|0));
                new EpicEditor({
                    container: container.attr('id'),
                    basePath: '{{STATIC_URL}}epiceditor',
                    theme: {
                        base: '/themes/base/epiceditor.css',
                        preview: '/themes/preview/preview-dark.css',
                        editor: '/themes/editor/epic-dark.css'
                    }
                }).load();
            });
        });
    </script>
</head>

<body class="responsive">
    <div id="footer-pusher">
        <div class=container>
            <header id="header" class=row>
                <h1 class=span6><a href=/>Wikipendium</a></h1>
                <nav class=span6>Insert nav here</nav>
            </header>


            <div id=content>
            {% block content %}
            {% endblock %}
            </div>

        </div>
        <div id="push"></div>
    </div>
    <footer id="page-footer">
        <div class="container">
            <div class="row">
                <div class="span4">
                    Wikipendium! :D
                </div>
                <div class="span4"></div>
                <div class="span4"></div>
            </div>
        </div>
    </footer>

</body>

</html>
