{% extends "base.html" %}
{% load extras %}

{% block title %}
  {{ title }} –
{% endblock %}

{% block nav %}
<a class=button href=/new/>Create article</a>
{% if language_list %}
    {% language_chooser language_list articleContent %}
{% endif %}
{% endblock %}

{% block content %}
{% if articleContent %}
    <a href={{ articleContent.get_absolute_url }}>« Back</a>
{% endif %}

<form method="post" action="">
    {% if form.parent_id %}
    {{ form.parent_id }}
    {% endif %}
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class=error-banner>{{form.non_field_errors|join:", "}}</div>
    {% endif %}
    <div class="field-group clearfix">
        <div class="fields slug-field {%if form.slug.errors %}error{% endif %}">
            {{ form.slug }}
            {% if form.slug.errors %}
            <div class=error-message>
                {{form.slug.errors|join:", "}}
            </div>
            {% endif %}
        </div>
        <div class="fields lang-field {%if form.lang.errors %}error{% endif %}">
            {{ form.lang }}
            {% if form.lang.errors %}
            <div class=error-message>
                {{form.lang.errors|join:", "}}
            </div>
            {% endif %}
        </div>
        <div class="fields title-field {%if form.title.errors %}error{% endif %}">
            {{ form.title }}
            {% if form.title.errors %}
            <div class=error-message>
                {{form.title.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="field-group content-field">
        <div class="fields {%if form.content.errors %}error{% endif %}">
            {{ form.content }}
            {% if form.content.errors %}
            <div class=error-message>
                {{form.content.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>
    <input type=submit class="button button-large float-right" value=Save! />
</form>
<div class="help-container">
    <h2>How do I do this?</h2>
    {% include "writing_guide.html" %}
</div>
{% endblock %}
