{% extends "base.html" %}

{% block nav %}
<a class=button href=/new/>Create article</a>
{% endblock %}

{% block content %}
{% if articleContent.get_url %}
<a href={% if articleContent.pk %}{{ articleContent.get_url }}{%else%}/{%endif%} >« Back</a>
{% endif %}

{{ form.errors }} 
<form method="post" action="">
    {{ form.pk }}
    {% csrf_token %}
    <div class="field-group {%if form.slug.errors %}error{% endif %}">
        <div class="fields slug-field">
            {{ form.slug }}
            {% if form.slug.errors %}
            <div class=error-message>
                {{form.slug.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="field-group {%if form.title.errors %}error{% endif %}">
        <div class="fields title-field">
            {{ form.title }}
            {% if form.title.errors %}
            <div class=error-message>
                {{form.title.errors|join:", "}}
            </div>
            {% endif %}
        </div>
    </div>
    <br /><br />
    <div class="field-group content-field">
        <div class="fields">
            {{ form.content }}
        </div>
    </div>
    <input type=submit class="button button-large float-right" value=Save! />
</form>
<div class="help-container">
<h3>Help:</h3>
    <ul>
        <li><a href=http://daringfireball.net/projects/markdown/basics>Guide to Markdown</a></li>
        <li><a href=http://en.wikibooks.org/wiki/LaTeX/Mathematics>Guide to mathematical notation in LaTeX</a></li>
        <li><a href=http://code.google.com/p/support/wiki/WikiSyntax#Tables>Guide to using tables</a></li>
    </ul>
<h3>Mathematical notation may be written as follows:</h3>
    <p>Inline math uses single dollar signs, like this <span class="tex2jax_ignore">$ y = x $</span>,  while blocks of math are indicated with double dollar signs:</p>
    <pre>$$ y = 2*x $$</pre>
</div>
{% endblock %}
