{% extends "base.html" %}

{% block title %}
History: {{ article.slug }} –  
{% endblock %}

{% block body_class %}article{% endblock %}

{% block nav %}
<a class=button href="{{ back_url }}">Article</a>
{% endblock %}

{% block content %}
<ul class=article-history-list>
    {% for ac in articleContents %}
    <li class="clearfix">
        <a href="{{ac.pk}}/">{{ ac.get_full_title }}</a>
        <span class="date">{{ ac.updated }}</span>
        <a class="user" href=/users/{{ ac.edited_by }}/>{{ ac.edited_by }} </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
