{% extends "base.html" %}

{% block title %}
Diff: {{ ac.article.slug }} – 
{% endblock %}

{% block body_class %}fixed-header{% endblock %}

{% block nav %}
<div class=button-group style=inline-block>
    <a class=button href="{{ ac.get_history_url }}">History</a>
    <a class=button href="{{ back_url }}">Compendium</a>
</div>
{% endblock %}

{% block content %}

<div class=info>
    This is an old version of the compendium, written {{ac.updated}} Changes made in this revision were made by <a href="{{ ac.edited_by.get_absolute_url }}">{{ ac.edited_by }}</a>.
    <a href="{{ ac.get_history_single_url }}rendered/">View rendered version</a>.
</div>

<div style=overflow:hidden>
{% if prev_ac %}
<a class="button" id="prev-button" href={{prev_ac.get_history_single_url}}
   title="Keyboard shortcut: Left arrow">Previous version</a>
{% endif %}
{% if next_ac %}
<a class="button float-right" id="next-button" href={{next_ac.get_history_single_url}}
   title="Keyboard shortcut: Right arrow">Next version</a>
{% endif %}
</div>

<div id=article class=article-source>
    <h1 class=title>{{ ac.get_full_title }}</h1>
    <div class=content>{{ ac.diff|safe }}</div>
</div>

<script>
    $(function(){
        $('.diff.equal').click(function(){
            $(this).toggleClass('hidden'); 
        });

        $(document).keydown(function(e){
            var selector = {37:'#prev-button', 39:'#next-button'}[e.which];
            var href = $(selector).attr('href');
            if(href){
                window.location = href;
            }
        });
    });

</script>

{% endblock %}
