{% extends "base.html" %}

{% block meta %}
<meta name="description" content="Compendiums edited as a wiki">
{% endblock %}

{% block body_class %}frontpage{% endblock %}

{% block nav %}
<a class=button href=/new/>Create article</a>
{% endblock %}

{% block content %}

<script src={{STATIC_URL}}js/autocomplete.js></script>

{% if tag %}
    <p>
        Showing compendiums with tag: <em>{{ tag }}</em>.
        <a href=/>Show all compendiums</a>.
    </p>
{% endif %}

<input
    id=searchbox
    {% if tag %} style=display:none {% endif %}
    type=text
    placeholder="find a compendium..."
    autocomplete=off
    />

<div class="serif all-articles-wrapper">
    <ul class=article-all-list id=suggestions>
    </ul>
</div>
<script>
    (function(){
        var compendiums = {{ compendiums|safe }};
        $('#searchbox').autocomplete(compendiums);
    })();
</script>

{% endblock %}
