{% extends "base.html" %}

{% block body_class %}frontpage{% endblock %}

{% block logo %}{% endblock %}

{% block nav %}
<a class=button href=/new/>Create article</a>
<a class=button href=/all/>All compendiums</a>
{% endblock %}

{% block content %}

<script src={{STATIC_URL}}js/autocompletrie.js></script>

<input id=searchbox type=text placeholder="find a compendium..." />

<div class="popular-articles serif">
    <h2>Popular compendiums</h2>
    <ul>
        {% for ac in popularACs %}
            <li><a href={{ac.get_url}}>{{ac.get_full_title}}</a></li>
        {% endfor %}
    </ul>
</div>
<script>
    (function(){
        var trie = {{ trie|safe }};
        $('#searchbox').autocompletrie(trie);
    })();
</script>

{% endblock %}
