<ul class=tabs id=help-tabs>
    <li class=active>
        <a href=#general-tab>General</a>
    </li>
    <li>
        <a href=#links-and-images-tab>Links & Images</a>
    </li>
    <li>
        <a href=#math-tab>Math</a>
    </li>
    <li>
        <a href=#tables-tab>Tables</a>
    </li>
    <li>
        <a href=#ref-tab>References</a>
    </li>
</ul>
<div class=tab-container id="help-tabs-container">
    <div class="tab active" id="general-tab">
        <h4>Heading</h4>
        <p>Headings are defined by using <code class=inline>#</code>.
        The largest heading is <code class=inline># Heading 1</code>,
        then comes <code class=inline>## Heading 2</code> and so on.
        </p>

        <h4>Paragraphs</h4>
        <p>Paragraphs are separated with a blank line.</p>
        <pre><code>So this line, and the next line.
Is actually the same paragraph.

While this becomes a new one.</code></pre>

        <h4>Bold</h4>
        <p><strong>__These two underscores make the text bold.__</strong></p>

        <h4>Italic</h4>
        <p><em>_One underscore, and the text becomes italic.__</em></p>

        <h4>Lists</h4>
        <pre><code>* This
* is
* a
* list
    * with
    * subpoints
    * like pressing tab</code></pre>
        <pre><code>1. While this one...
2. has numbers.
1. And you don't have to know how to count.
5. We will correct the numbers for you.
    2. and we will
    23. count the subsections
    1. correct
6. and continue with the right numbers here</code></pre>

    <h4>Blockquotes</h4>
    <pre><code>> in front of the text gives a blockquote

> You can
even split the text to seperate lines
and it will still be the same blockquote</code></pre>
    </div>

    <div class=tab id="links-and-images-tab">
        <h4>Links</h4>
        <code>[This is a link](http://tothispage.com/)</code>
        <p>If you want to show the link URL, you can simply type:</p>
        <code>&lt;http://theurl.com/&gt;</code>
        <h4>Images</h4>
        <code>![Alt text](http://url.to/image.png)</code>
    </div>

    <div class=tab id="tables-tab">
        <pre><code>|| <strong>__Heading 1__</strong> || <strong>__Heading 2__</strong> ||
|| Row 1, Col 1  || Row 1, Col 2  ||
|| Row 2, Col 1  || Row 2, Col 2  ||</code></pre>
    </div>

    <div class=tab id="math-tab">
        <h4>Mathematical notation may be written as follows:</h4>
        <p>Inline math uses single dollar signs, like this <code class="inline">$ y = x $</code>,  while blocks of math are indicated with double dollar signs:</p>
        <code>$$ y = 2*x $$</code>

        <h4>We support standard LaTeX syntax</h4>
        <code>$$ e^{ \pm i\theta } = \cos \theta \pm i\sin \theta $$</code>
        <p>This piece of code will show Euler's formula. This also goes for far more complicated LaTeX as matrixes and so on.</p>
    </div>

    <div class=tab id="ref-tab">
        <ul>
            <li><a href=http://daringfireball.net/projects/markdown/basics>Guide to Markdown</a></li>
            <li><a href=http://en.wikibooks.org/wiki/LaTeX/Mathematics>Guide to mathematical notation in LaTeX</a></li>
            <li><a href=http://code.google.com/p/support/wiki/WikiSyntax#Tables>Guide to using tables</a></li>
        </ul>
    </div>
</div>
