<ul class=tabs id=help-tabs>
    <li class=active>
        <a href=#general-tab>General</a>
    </li>
    <li>
        <a href=#links-and-images-tab>Links & Images</a>
    </li>
    <li>
        <a href=#math-tab>Math</a>
    </li>
    <li>
        <a href=#ref-tab>References</a>
    </li>
</ul>
<div class=tab-container id="help-tabs-container">
    <div class="tab active" id="general-tab">
        <h4>Heading</h4>
        <p>Headings are defined by using <code class=inline>#</code>.
        The largest heading is <code class=inline># Heading 1</code>,
        then comes <code class=inline>## Heading 2</code> and so on.
        </p>

        <h4>Paragraphs</h4>
        <p>Paragraphs are separated with a blank line.</p>

        <h4>Bold</h4>
        <p><strong>__These two underscores make the text bold.__</strong></p>

        <h4>Italic</h4>
        <p><em>_One underscore, and the text becomes italic.__</em></p>
    </div>

    <div class=tab id="links-and-images-tab">
        Links and images
    </div>

    <div class=tab id="math-tab">
        <h4>Mathematical notation may be written as follows:</h4>
        <p>Inline math uses single dollar signs, like this <code class="inline">$ y = x $</code>,  while blocks of math are indicated with double dollar signs:</p>
        <code>$$ y = 2*x $$</code>
    </div>

    <div class=tab id="ref-tab">
        <ul>
            <li><a href=http://daringfireball.net/projects/markdown/basics>Guide to Markdown</a></li>
            <li><a href=http://en.wikibooks.org/wiki/LaTeX/Mathematics>Guide to mathematical notation in LaTeX</a></li>
            <li><a href=http://code.google.com/p/support/wiki/WikiSyntax#Tables>Guide to using tables</a></li>
        </ul>
    </div>
</div>
